.shopping-cart-container {
    display: flex;
    margin: 120px 20px;
    justify-content: space-between;
}

.cart-table {
    flex-grow: 2;
}

.delete-btn {
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-weight: 700;
}

.checkout-preview {
    width: 25%;
    padding: 20px;
    margin-top: 60px;
    background-color: #eee;
    color: #000;
    height: 220px;
    text-align: justify;
}

.checkout-preview h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.checkout-preview p {
    color: #000;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.checkout-preview .price {
    margin-left: 100px;
    font-weight: normal;
}

.btn-checkout,
.btn_continue,
.btn_update {
   
    padding: 10px 30px;
    margin-right: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #7DC855;
    font-size: 1.6rem;
}
.btn-checkout {
    transform:translateX(13px);
    margin-top:30px;
}

.lbgiohang {
    font-weight: 600;
    color: red;
    margin-left: 50%;
    font-size: 30px;
}



